<h1>Ola Handlebars</h1>

{{#if approved}}

    <p>
        Seu cadastro foi aprovado!
    </p>
{{else}}

    <p>
        Seu cadastro precisa de atenção
    </p>

{{/if}}

        <p>O nome do usuario é: {{user.name}}, e ele tem: {{user.idade}} anos, a profissão dele é {{user.profissao}}</p>

        <p><a href="/blogpost">Clique aqui</a>, Para conferir o Blog</p>

{{#if auth}}

<p>Voce esta atutenticado, <a href="/dashboard">Clique aqui</a>, para ir para pagina inicial</p>

{{/if }}