<h1>Ola Handlebars</h1>
<p>O nome do usuario é: {{user.name}}, e ele tem: {{user.idade}} anos, a profissão dele é {{user.profissao}}</p>
{{#if auth}}

    <p>
        Voce esta atutenticado, <a href="/dashboard">Clique aqui</a>, para ir para pagina inicial
    </p>

{{/if }}